<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="schedule.tasks" type="Schedule.Tasks.ScheduleTaskSection,Schedule.Tasks.Runtime"/>
  </configSections>
  <schedule.tasks>
    <tasks>
      <task name="DemoTask2" enable="true" type="Schedule.Tasks.TestTasks.DemoTask2,Schedule.Tasks.TestTasks" assemblyPath="tasks\Schedule.Tasks.TestTasks" customConfigFile="" schedule="IntervalSchedule1"/>
      <task name="DemoTask2_public" enable="true" type="Schedule.Tasks.InBuilts.InvokeInstanceMethodTask,Schedule.Tasks" assemblyPath="E:\svnspace\saas\SS_SaaStore\trunk\Schedule.Tasks\Schedule.Tasks.Host.Console\Schedule.Tasks.TestTasks" customConfigFile="E:\svnspace\saas\SS_SaaStore\trunk\Schedule.Tasks\Schedule.Tasks.Host.Console\Schedule.Tasks.TestTasks\app.config" schedule="IntervalSchedule1"/>
      <!--
      <task name="DemoTask1" type="Schedule.Tasks.TestTasks.DemoTask1,Schedule.Tasks.TestTasks" assemblyPath="tasks\Schedule.Tasks.TestTasks" customConfigFile="" schedule="IntervalSchedule1"/>
      <task name="DemoTask2" type="Schedule.Tasks.TestTasks.DemoTask2,Schedule.Tasks.TestTasks" assemblyPath="tasks\Schedule.Tasks.TestTasks" customConfigFile="" schedule="DailySchedule1"/>
      <task name="DemoExceptionTask1" enable="false" type="Schedule.Tasks.TestTasks.DemoExceptionTask1,Schedule.Tasks.TestTasks" assemblyPath="tasks\Schedule.Tasks.TestTasks" customConfigFile="" schedule="IntervalSchedule2"/>
      <task name="InvokeStaticMethodTask" enable="true" type="Schedule.Tasks.InBuilts.InvokeStaticMethodTask,Schedule.Tasks.Runtime" assemblyPath="tasks\ClassLibrary1" customConfigFile="tasks\ClassLibrary1\ClassLibrary1.dll.config" schedule="IntervalSchedule1"/>
      <task name="InvokeInstanceMethodTask" enable="true" type="Schedule.Tasks.InBuilts.InvokeInstanceMethodTask,Schedule.Tasks.Runtime" assemblyPath="tasks\ClassLibrary2" customConfigFile="tasks\ClassLibrary2\ClassLibrary1.dll.config" schedule="IntervalSchedule1"/>
     
      <task name="StartNginx" enable="true" type="Schedule.Tasks.InBuilts.InvokeExeFileTask,Schedule.Tasks.Runtime" assemblyPath="tasks\nginx" customConfigFile="tasks\nginx\nginx.config" schedule="RunOnetimeSchedule"/>
       -->
    </tasks>
    <schedules>
      <schedule name="IntervalSchedule1" fromTime="2012-08-28 10:00" toTime="2014-09-28 10:05" scheduleString="5000" type="Schedule.Tasks.InBuilts.IntervalSchedule,Schedule.Tasks"/>
      <schedule name="DailySchedule1" scheduleString="09:36" type="Schedule.Tasks.InBuilts.DailySchedule,Schedule.Tasks"/>
      <schedule name="IntervalSchedule2" fromTime="2012-08-28 10:00" toTime="2012-09-28 10:05" scheduleString="20000" type="Schedule.Tasks.InBuilts.IntervalSchedule,Schedule.Tasks"/>
      <schedule name="IntervalSchedule2" fromTime="2012-08-28 10:00" toTime="2012-09-28 10:05" scheduleString="20000" type="Schedule.Tasks.InBuilts.IntervalSchedule,Schedule.Tasks"/>
      <schedule name="RunOnetimeSchedule" maxTimes="1" scheduleString="100" type="Schedule.Tasks.InBuilts.IntervalSchedule,Schedule.Tasks"/>
    </schedules>
  </schedule.tasks>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
